# Ignore output figures
/plot/*.pdf
/plot/*.svg
/plot/*.png
*.svg
*.pdf
*.png

# Ignore data files (optional)
data/**/*.txt
data/**/*.csv
*.csv
*.txt

# Ignore Python/Jupyter artifacts
__pycache__/
*.pyc
*.ipynb_checkpoints

# Ignore Julia compiled files and packages
.julia/
Manifest.toml
Project.toml

# Ignore VS Code settings
.vscode/

# Mac system files
.DS_Store
SSHvenv/
